@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Primary */
    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%); /* for change btn*/

    /* Neutral */
    --clr-very-pale-blue: hsl(225, 100%, 94%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-desaturated-blue);
    background-color: var(--clr-very-pale-blue);
    background-image: url(/images/pattern-background-desktop.svg);
    background-size: contain;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.card {
    height: 600px;
    width: 400px;
    background-color: #fff;
    border-radius: 15px;
}

.card-img {
    height: 220px;
    width: 100%;
}
.card-img img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.2;
}

.card-content h2 {
    font-weight: 900;
    color: var(--clr-dark-blue);
    margin-bottom: 20px;
}

.card-content p {
    padding: 0 20px;
    line-height: 1.5;
    margin: 5px 0 5px 0;
}

.inner-div {
    background-color: var(--clr-pale-blue);
    display: flex;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    margin: 15px 0 15px 0;
}
.inner {
    flex-direction: column;
    line-height: .9;
}
.inner h4 {
    color: var(--clr-dark-blue);
}

.inner-div a {
    color: var(--clr-bright-blue);
    font-size: 14px;
}

button {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
}

#payment {
    background-color: var(--clr-bright-blue);
    border: 1px var(--clr-bright-blue) solid;
    border-radius: 5px;
    color: var(--clr-very-pale-blue);
    margin-bottom: 15px;
    font-size: 1rem;
    padding: 10px 55px;
    box-shadow: 0px 10px 20px;
}

#cancel-order {
    border: none;
    background: none;
    color: var(--clr-desaturated-blue);
    font-size: 13px;
}

.attribution {
    margin-top: 15px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}