* {
    margin: 0;
    padding: 0;
}

:root {
    /* Primary */
    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --clr-very-pale-blue: hsl(225, 100%, 94%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/images/pattern-background-desktop.svg);
    font-size: 1rem;
}

.card {
    height: 600px;
    width: 400px;
    background-color: var(--clr-dark-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}